
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  padding: 1rem 2rem;
}

.navbar-logo {
  color: #b51010;

  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  color: #b51010;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
  font-weight: 700;
}

.navbar-links a:hover {
  color: none;
}

.navbar-login-button {
  
  width: 170px;
  height: 60.24px;
  top: 27px;
  left: 1497px;
  gap: 0px;
  opacity: 0px;

  border: solid 2px #b51010;
  border-radius: 26px;
  background-color: white;

  font-size: 1.5rem;
  font-weight: 700;
  color:  #790B0B;


  cursor: pointer;

}

.navbar-login-button:hover {
    
    background: linear-gradient(180deg, #790B0B 0%, #DF1414 100%);

  color: white;
}
